{% extends 'base.html.twig' %}

{% block title %}Cliente index{% endblock %}

{% block body %}

    <br>
    <div class="card">
        <div class="card-header" style="background-color: #c8d9ec;">
            <div class="float-right">
                <a href="#client_new_modal" data-toggle="modal"  role="button" class="btn btn-info btn-sm ml-auto" id="new-modal" ><i class="fa fa-plus" aria-hidden="true"></i> Nuevo Cliente</a>
            </div>
            <div class="float-left" style="color: #1e5d67;">
                <h5> <i class="fa fa-search" aria-hidden="true"></i>  Buscar Clientes</h5> 
            </div>
        
        </div>
        <div class="card-body"> 

            <p class="card-text" id="msg-delete"></p>


            <table class="table table-sm" id="table-clientes" style="font-family: -webkit-pictograph;
            font-size: inherit;">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Direccion</th>
                        <th>Cedula</th>
                        <th>Agregado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for cliente in clientes %}
                    <tr id='{{ cliente.id }}' >
                        <td id="td-nombre">{{ cliente.nombre }}</td>
                        <td td="td-email">{{ cliente.email }}</td>
                        <td td="td-direccion">{{ cliente.direccion }}</td>
                        <td td="td-cedula">{{ cliente.cedula }}</td>
                        <td td="td-fecha">{{ cliente.fechaCreacion ? cliente.fechaCreacion|date('Y-m-d') : '' }}</td>
                        <td>
                            <a href='#client_new_modal' data-toggle='modal' class="edit-cli" style="color: #dead18;" title="editar"><i class="fa fa-edit"></i></a>
                            <a href='#' data-toggle='modal' class="delete-cli" style="color: #e03535;" title="eliminar"><i class="fa fa-times"></i></a>
                          
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>



    {{ include('cliente/new.html.twig') }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!--Datatables-->
    <script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!--eventos-->
    <script src="{{ asset('js/cliente.js') }}" type="text/javascript"> </script>
    <script>

        $(document).ready(function() {
            $('#table-clientes').DataTable({
                "language": {
                  "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                }
              });

        } );
    </script>


{% endblock %}

