<nav class="navbar navbar-expand-sm bg-primary navbar-dark" style="background-color: #216dbf!important">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('factura') }}" > <i class="fa fa-clipboard"></i> Facturas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('producto') }}" ><i class="fa fa-list"></i> Productos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('cliente_index') }}" ><i class="fa fa-users"></i> Clientes</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="{{ path('usuario') }}" > <i class="fa fa-user"></i> Usuarios</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ path('configuracion') }}" ><i class="fa fa-cog"></i> Configuración</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><i class="fa fa-sign-out"></i></button>
    </form>
  </div>
</nav>